@model SWI.SoftStock.WebApplications.Main.Models.ChangePasswordModel

@{
    ViewBag.Title = "Change Password";
}

<script src="/app/js/changepasswordlogic.js"></script>

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Use the form below to change your password.</h2>
</hgroup>

<p class="message-info">
    New passwords are required to be a minimum of 6 characters in length.
</p>

<div id="changepasswordForm">
    <form data-bind="submit: changepassword">

        <div class="validation-summary-errors">
            <ul data-bind="foreach: errors">
                <li>
                    <span data-bind="text: $data"> </span>
                </li>
            </ul>
        </div>

        <fieldset>
            <legend>Change Password Form</legend>
            <ol>
                <li>
                    @Html.LabelFor(m => m.OldPassword)
                    @Html.PasswordFor(m => m.OldPassword, new { data_bind = "value: oldPassword" })
                    @Html.ValidationMessageFor(m => m.OldPassword)
                </li>
                <li>
                    @Html.LabelFor(m => m.NewPassword)
                    @Html.PasswordFor(m => m.NewPassword, new { data_bind = "value: newPassword" })
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </li>
                <li>
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword, new { data_bind = "value: confirmPassword" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </li>
            </ol>
            <input type="submit" value="Change password" />
        </fieldset>
    </form>
</div>


<script type="text/javascript">
            $(function () {
                $(document).ready(function () {
                    var cp = new ChangePasswordFormViewModel();
                    ko.applyBindings(cp, document.getElementById('changepasswordForm'));
                });
            });
</script>