<script type="text/html" id="LicenseRequestDetail">
    <tr data-bind="click: onDetailRowClick, css: { info: isSelected() == true }">

        <td>
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation">
                        <a role="menuitem" tabindex="2" data-bind="attr: { href: url() }">Details</a>
                    </li>
                    <li role="presentation" data-bind='click: menu().onAnswerLinkClick, enable: menu().onAnswerLinkClickEnabled'>
                        <a role="menuitem" tabindex="2" href="@Url.Action("Answer", "PersonalLicenseRequest")" id="answerLink">Answer</a>
                    </li>
                </ul>
            </div>
        </td>

        <td data-bind="text: machineName"></td>
        <td data-bind="text: softwareName"></td>
        <td data-bind="text: softwarePublisher"></td>
        <td data-bind="text: text"></td>
        <td data-bind="text: userName"></td>
        <td data-bind="text: userEmail"></td>
        <td data-bind="text: status"></td>
        <td data-bind="text: createdOn"></td>
        <td data-bind="text: modifiedOn"></td>
    </tr>
</script>

@await Html.PartialAsync("~/Views/Shared/_PagingPanelTemplate.cshtml")

<div id="licenseRequestList">
    <div id="list">
        <table class="table table-striped table-hover" id="machines_table">
            <thead>
                <tr>
                    <th></th>
                    <th id="thMachineName" class="sortable" data-bind="click: onTableHeaderClick">Machine</th>
                    <th id="thSoftwareName" class="sortable" data-bind="click: onTableHeaderClick">Software</th>
                    <th id="thSoftwarePublisher" class="sortable" data-bind="click: onTableHeaderClick">Software publisher</th>
                    <th id="thText" class="sortable" data-bind="click: onTableHeaderClick">Text</th>
                    <th id="thUserName" class="sortable" data-bind="click: onTableHeaderClick">User</th>
                    <th id="thUserEmail" class="sortable" data-bind="click: onTableHeaderClick">Users email</th>
                    <th id="thStatus" class="sortable" data-bind="click: onTableHeaderClick">Status</th>
                    <th id="thCreatedOn" class="sortable" data-bind="click: onTableHeaderClick">Created on</th>
                    <th id="thModifiedOn" class="sortable" data-bind="click: onTableHeaderClick">Modified on</th>
                </tr>
                <tr>

                    <td></td>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <div class="input-group">
                            <div id="btn-group">
                                <button data-toggle="dropdown" class="btn dropdown-toggle" data-placeholder="Please select">Checked option <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    @foreach (var status in ViewBag.Statuses)
                                    {
                                        <li>
                                            <input type="checkbox" @($"id=statusFilter_{(int) status.Key}") @($"data-bind=checked:tableFilter.status_{(int) status.Key}")>
                                            <label @($"for=statusFilter_{(int) status.Key}")>@status.Value</label>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" id="applyFilter" data-bind='click: tableFilter.onApplyClick'><span class="glyphicon glyphicon-filter"></span></button>
                            </span>
                        </div>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody data-bind="template: {
        name: 'LicenseRequestDetail',
        foreach: items
    }">
            </tbody>
        </table>

        <div data-bind="template: {
        name: 'PagingPanel',
        data: paging
    }"></div>
    </div>
</div>
